<footer class="footer-background">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-3 footer-icon align-self-center">
        <a href="./news">
          <img class="footer-icon-img" src="./images/nav1@3x.png" />
          <p class="footer-font-inactive">社群警報</p>
        </a>
      </div>
      <div class="col-3 footer-icon align-self-center">
        <a href="./diseaseMap">
          <img class="footer-icon-img" src="./images/nav2Click@3x.png" />
          <p class="footer-font-active">病害地圖</p>
        </a>
      </div>
      <div class="col-3 footer-icon align-self-center">
        <a href="./community">
          <img class="footer-icon-img" src="./images/nav3@3x.png" />
          <p class="footer-font-inactive">社群</p>
        </a>
      </div>
      <div class="col-3 footer-icon align-self-center">
        <a href="./bulletin">
          <img class="footer-icon-img" src="./images/nav4@3x.png" />
          <p class="footer-font-inactive">我的通報</p>
        </a>
      </div>
    </div>
</footer>