<!DOCTYPE html>

<html lang="en">

<head>

  <meta charset="utf-8" />

  <title>去去病害走</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="description" content="" />
  <meta property="og:title" content="" />
  <meta property="og:url" content="">
  <meta property="og:image" content="facebook.jpg" />
  <meta property="og:type" content="website" />
  <meta property="og:description" content="" />

  <link rel="icon" href="favicon.ico" type="image/x-icon" />
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <style type="text/css">
    body {
      background-color: #f0f3f5;
    }

    .header-background {
      width: auto;
      height: 155px;
      background-image: linear-gradient(112deg, #013c93, #0960b0 100%);

      top: 0;
      width: 100%;
    }

    .header-title {
      padding-top: 44px;
      color: white;
      margin-bottom: 20px;
    }

    .header-subtitle-font {
      font-size: 14px;
      /*font-weight: 600;*/
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: 0.17px;
      color: #f48300;
    }

    .header-subtitle {
      display: inline;
      padding-top: 2px;
      padding-bottom: 2px;
      padding-left: 10px;
      padding-right: 10px;
      margin-right: 10px;
      text-align: center;
      width: 57px;
      height: 24px;
      border-radius: 12px;
      background-color: #ffffff;
    }

    .edit-btn {
      text-align: center;
      padding-top: 2px;
      padding-bottom: 2px;
      padding-left: 10px;
      padding-right: 10px;
      width: 57px;
      height: 24px;
      border-radius: 12px;
      border: solid 1px #ffffff;
      color: white;
    }

    .footer-background {
      width: auto;
      height: 60px;
      box-shadow: inset 0 0.5px 0 0 rgba(0, 0, 0, 0.25);
      background-color: rgba(250, 250, 250, 0.9);

      position: absolute;
      bottom: 0;
      width: 100%;
    }

    .footer-icon {
      text-align: center;
    }

    .footer-icon-img {
      width: 48px;
      height: 34px;
    }

    .footer-font-active {
      font-size: 10px;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: 0.12px;
      text-align: center;
      color: #013c93;
    }

    .footer-font-inactive {
      font-size: 10px;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: 0.12px;
      text-align: center;
      color: #8e8e93;
    }

    .news-container {
      width: auto;
      height: 225px;
      border-radius: 17px;
      box-shadow: 0 2px 13px 0 rgba(0, 0, 0, 0.15);
      background-color: #ffffff;

      margin-top: 20px;
    }

    .news-header {
      width: auto;
      height: 60px;
      border-radius: 17px 17px 0px 0px;
      background-image: linear-gradient(10deg, #ffffff, #efefef);
    }

    .news-header-font {
      font-size: 12px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: 0.14px;
    }
  </style>
</head>

<body>
  <header class="header-background">
    <div class="container header-title">
      <h4>25,135人正在務農...</h4>
      <h1>農農圈</h1>
    </div>
    <div class="container">
    </div>
  </header>

  <div style="height:57vh;overflow-y: auto;">
    <div style="margin:20px;">
      <h5 style="display: inline-block;">在地群聊</h5>
      <span style="float:right;font-size: 12px;">查看所有群聊<i class="fas fa-chevron-right"></i></span>
    </div>

    <div style="margin:20px 0;">
      <div style="width:90%;margin:10px auto 30px auto;border-radius: 7px;
        box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.1);
        background-color: #ffffff;padding:10px;">
        <img src="./images/comminuty_group@3x.png" style="height:50px;width:50px;vertical-align: inherit;" />
        <div style="display: inline-block;vertical-align: super;">
          <h6 style="width: 100px;height: 22px;font-family: PingFangTC;font-size: 16px;font-weight: 600;font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: 0.19px;
            color: #000000;margin-bottom: 0;">台南水稻群</h6>
          <h7 style="width: 126px;height: 18px;font-family: PingFangTC;font-size: 13px;font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: 0.16px;
            color: #9b9b9b;">所以最近要提防稻熱病囉～？</h7>
        </div>
      </div>

      <div style="margin:20px;">
        <h5 style="display: inline-block;">水稻相關提問</h5>
        <span style="float:right;font-size: 12px;">切換植物種類<i class="fas fa-chevron-right"></i></span>
      </div>

      <div style="margin:20px;">
        <div>
          <div>
            <div style="width: 35px;height: 35px;background-color: #c8e0f8;display: inline-block; border-radius: 99em;">
            </div>
            <div style="display: inline-block;vertical-align: super;">
              <h6 style="width: 25px;
                    height: 17px;
                    font-family: SFProDisplay;
                    font-size: 12px;
                    font-weight: normal;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: normal;
                    letter-spacing: 0.14px;
                    color: #000000;margin:0;">匿名</h6>
              <h6 style="width: 70px;
                    height: 17px;
                    font-family: PingFangTC;
                    font-size: 12px;
                    font-weight: normal;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: normal;
                    letter-spacing: 0.14px;
                    color: #9b9b9b;margin:0;">2019年11月</h6>
            </div>

          </div>
          <div style="display: block;margin: auto;width: 90%;">
            <div>
              <div>
                <img src="./images/community_article_1@3x.png" style="width: 105px;height: 143px;" />
                <img src="./images/community_article_2@3x.png" style="width: 105px;height: 143px;" />
                <img src="./images/community_article_3@3x.png" style="width: 105px;height: 143px;" />
              </div>
              <div style="width: 335px;
                      height: 68px;
                      font-family: PingFangTC;
                      font-size: 12px;
                      font-weight: normal;
                      font-stretch: normal;
                      font-style: normal;
                      line-height: normal;
                      letter-spacing: 0.14px;
                      color: #000000;">
                我家的稻穗最近在穗頸與枝梗上的病斑呈淡褐色或暗褐色，嚴重時整穗彎折乾枯；穀粒受感染，病斑呈暗灰色或白色，影響稻米產量與品質甚大。想請教大家這是稻熱病嗎？該如何施藥呢？
              </div>
            </div>
          </div>
          <div style="margin-top:20px;">
            <div style="text-align: center;width:48%;display: inline-block;">
              <img src="./images/good@3x.png" style="width:20px;height:20px;" />
              <span style="color:#013c93">讚</span>
            </div>
            <div style="text-align: center;width:48%;display: inline-block;">
              <img src="./images/message@3x.png" style="width:20px;height:20px;" />
              <span style="color:#013c93">留言</span>
            </div>
          </div>
        </div>

        <hr style="width: 375px;height: 2px;background-color: #f0f3f5;" />

        <div>
          <div>
            <div style="width: 35px;height: 35px;background-color: #c8e0f8;display: inline-block; border-radius: 99em;">
            </div>
            <div style="display: inline-block;vertical-align: super;">
              <h6 style="width: 25px;
                      height: 17px;
                      font-family: SFProDisplay;
                      font-size: 12px;
                      font-weight: normal;
                      font-stretch: normal;
                      font-style: normal;
                      line-height: normal;
                      letter-spacing: 0.14px;
                      color: #000000;margin:0;">匿名</h6>
              <h6 style="width: 70px;
                      height: 17px;
                      font-family: PingFangTC;
                      font-size: 12px;
                      font-weight: normal;
                      font-stretch: normal;
                      font-style: normal;
                      line-height: normal;
                      letter-spacing: 0.14px;
                      color: #9b9b9b;margin:0;">2019年10月</h6>
            </div>

          </div>
          <div style="display: block;margin: auto;width: 90%;">
            <div>
              <div>
                <img src="./images/community_article_4@3x.jpg" style="width: 105px;height: 143px;" />
                <img src="./images/community_article_5@3x.jpg" style="width: 105px;height: 143px;" />
                <img src="./images/community_article_6@3x.png" style="width: 105px;height: 143px;" />
              </div>
              <div style="width: 335px;
                        height: 68px;
                        font-family: PingFangTC;
                        font-size: 12px;
                        font-weight: normal;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: normal;
                        letter-spacing: 0.14px;
                        color: #000000;">
                我的天吶，最近一直下雨，所以我都沒去巡田
                今天好不容易放晴了，結果一去怎麼所有的水稻都有局部的褐色出現
                現在快收成了，我真的好擔心啊QQ
                想請問各位前輩們遇到這種情況會如何處理呢？
              </div>
            </div>
          </div>
          <div style="margin-top:20px;">
            <div style="text-align: center;width:48%;display: inline-block;">
              <img src="./images/good@3x.png" style="width:20px;height:20px;" />
              <span style="color:#013c93">讚</span>
            </div>
            <div style="text-align: center;width:48%;display: inline-block;">
              <img src="./images/message@3x.png" style="width:20px;height:20px;" />
              <span style="color:#013c93">留言</span>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  </div>

  <footer class="footer-background">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-3 footer-icon align-self-center">
          <a href="./news">
            <img class="footer-icon-img" src="./images/nav1@3x.png" />
            <p class="footer-font-inactive">社群警報</p>
          </a>
        </div>
        <div class="col-3 footer-icon align-self-center">
          <a href="./diseaseMap">
            <img class="footer-icon-img" src="./images/nav2@3x.png" />
            <p class="footer-font-inactive">病害地圖</p>
          </a>
        </div>
        <div class="col-3 footer-icon align-self-center">
          <a href="./community">
            <img class="footer-icon-img" src="./images/nav3Click@3x.png" />
            <p class="footer-font-active">社群</p>
          </a>
        </div>
        <div class="col-3 footer-icon align-self-center">
          <a href="./bulletin">
            <img class="footer-icon-img" src="./images/nav4@3x.png" />
            <p class="footer-font-inactive">我的通報</p>
          </a>
        </div>
      </div>
  </footer>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <scirpt>

  </scirpt>

</body>

</html>